apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-hsncccyb
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-hsncccyb:49c1c994000e9bd8310c5bb1d67be9521ea386c3@sha256:7f24f1bc0337e52ce1ec196e8b7bd86ab2e04252f7f1162827e21123ceb6075b
        name: container-image  
